body {
    background: hsl(257, 40%, 49%) url("../images/bg-desktop.svg") no-repeat;
    background-size: cover;
    max-height: 100vh;
}

.header {
    height: 150px;
    padding: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0 75px;
}

.container img {
    width: 100%;
}

.content-section {
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 25px;
    width: 75%;
    font-family: 'Open sans', sans-serif;
    position: relative;
    bottom: 80px;
    width: 100%;
}

.content-section .title {
    font-size: 35px;
    width: 70%;
    font-weight: 600;
}

.content-section .text {
    font-size: 16px;
    width: 60%;
}

button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    color: #674baf;
    background-color: #fff;
    text-decoration: none;
}

button:active {
    background-color: #e882e8;
    color: #fff;
}

.footer {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 50px;
    justify-content: flex-end;
    right: 100px;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
    color: #fff;
    font-size: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px !important;
    height: 40px;
    padding: 6px;
}

.fa-facebook-f:active,
.fa-twitter:active,
.fa-instagram:active {
    border-color: #e882e8;
    color: #e882e8;
}