body {
    background: hsl(257, 40%, 49%) url("../images/bg-desktop.svg") no-repeat;
    background-size: cover;
    max-height: 100vh;
    max-width: 1640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header {
    height: 150px;
    padding: 50px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
}

.container img {
    width: 900px;
}

.content-section {
    width: 50%;
    font-family: 'Open sans', sans-serif;
    color: #fff;
    position: relative;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .content-section .title {
    font-size: 35px;
    width: 60%;
    font-weight: 600;
}

.container .content-section .text {
    width: 70%;
    line-height: 30px;
}

.container .content-section button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    color: #674baf;
    background-color: #fff;
    border: none;
}

.container .content-section button:active {
    background-color: #e882e8;
    color: #fff;
}

.footer ul {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 100px;
    bottom: 40px;
    justify-content: flex-end;
    list-style-type: none;
}

.footer .icone {
    color: #fff;
    font-size: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 6px;
}

.icone:active {
    border-color: #e882e8;
    color: #e882e8;
}