@media(max-width:1200px) {

    body {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        background-image: url("../images/bg-mobile.svg");
        background-size: cover;
    }

    .header {
        padding: 0;
        display: flex;
    }

    .header img {
        width: 250px;
        margin: 0 auto;
    }

    .container {
        flex-direction: column;
        gap: 100px;
    }

    .container img {
        width: 300px;
        margin: 0 30px;
    }

    .container .content-section {
        align-items: center;
        text-align: center;
        position: relative;
        bottom: 50px;
        width: 500px;
    }

    .container .content-section .title {
        font-size: 27px;
    }

    .container .content-section .text {
        font-size: 15px;
        line-height: 25px;
    }

    .footer ul {
        position: static;
        justify-content: center;
        align-items: center;
    }

}